<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product System</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <nav>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="{{ url_for('products') }}">Productos</a>
        <a href="{{ url_for('form') }}">Formulario</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>