<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    {% block head %}
      <title>Flask Monolito</title>
      <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% endblock %}
  </head>

  <body>
    {% block menu %}
      {% if nombre %}
        <nav class="navbar navbar-dark bg-dark">
          <span class="navbar-brand">TusProductos.com</span>
          <div class="ml-auto">
            <span class="navbar-text mr-3">Hola, {{ nombre }}</span>
            <form action="logout" method="post" class="d-inline">
              <button type="submit" class="btn btn-sm btn-outline-danger">Cerrar sesión</button>
            </form>
          </div>
        </nav>
      {% endif %}
    {% endblock %}

    <div class="mt-4 mb-4">
      {% block contenido %}
      {% endblock %}
    </div>
  </body>   
